<a href="https://colab.research.google.com/github/2303a51730/2303a51730-application_of_datamining/blob/main/Assignment_1_5_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [13]:
file_path = "/content/student-dataset.csv"
df = pd.read_csv(file_path)

In [14]:
print("Original Dataset:")
print(df.head())

Original Dataset:
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22           0.80    0.842105        0.653846
1     34.39    -118.54      M   22           0.56    0.578947        0.846154
2     37.80    -122.27      F   22           0.96    0.894737        0.692308
3     37.69    -122.09      F   20           0.72    0.368421        0.846154
4    -23.18     -45.88      F   21           0.88    0.263158        0.769231

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

In [ ]:
df['sciences.grade'].fillna(df['sciences.grade'].median(), inplace=True)

In [15]:
scaler = MinMaxScaler()
df[['math.grade', 'sciences.grade', 'english.grade']] = scaler.fit_transform(df[['math.grade', 'sciences.grade', 'english.grade']])

In [16]:
print("\nDataset after Imputation and Normalization:")
print(df.head())

Dataset after Imputation and Normalization:
   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  age  english.grade  math.grade  sciences.grade  \
0     31.31     120.62      F   22           0.80    0.842105        0.653846
1     34.39    -118.54      M   22           0.56    0.578947        0.846154
2     37.80    -122.27      F   22           0.96    0.894737        0.692308
3     37.69    -122.09      F   20           0.72    0.368421        0.846154
4    -23.18     -45.88      F   21           0.88    0.263158        0.769231

   language.grade  portfolio.rating  coverletter.rating  refletter.rating
0             1.0                 4                 4.0                 4
1             5.0                 5                 4.0                 5
2             5.0                 3                 3.0                 4
3             5.0                 5                 2.0                 4
4             1.0                 4                 4.0                 5

In [17]:
output_path = "/content/student-dataset.csv"
df.to_csv(output_path, index=False)
print(f"\nCleaned dataset saved to: {output_path}")

Cleaned dataset saved to: /content/student-dataset.csv